<!--<p>
  posts works!
</p>-->

<div class="">
  <router-outlet></router-outlet>
</div>

<div class="row">
  <div class="col-3 col-sm-12">
    <p>Entradas</p>
  </div>
  <div class="col-9 col-sm-12">
    <h3>Blog de entradas</h3>
    <p>Blog de entrada 1</p>
    <p>Blog de entrada 2</p>
    <p>Blog de entrada 3</p>
  </div>
</div>

<ngb-accordion activeIds="ngb-panel-0">
  <ngb-panel title="Georgia Byng">
    <ng-template ngbPanelContent>
      <ul class="list-unstyled">
        <li>Post 1</li>
        <li>Post 2</li>
        <li>Post 3</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="J.K. Rowling">
    <ng-template ngbPanelContent>
      <ul class="list-unstyled">
        <li>Post 4</li>
        <li>Post 5</li>
        <li>Post 6</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Lucía Taboada">
    <ng-template ngbPanelContent>
      <ul class="list-unstyled">
        <li>Post 7</li>
        <li>Post 8</li>
        <li>Post 9</li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="">
  <router-outlet></router-outlet>
</div>
