<!--<p>
  posts works!
</p>-->

<ng-template #modal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Nueva Entrada
    <!--<small>- por {{user.getName()}}</small>-->
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="c()"></button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Título</label>
        <input type="text" class="form-control" id="formTitleInput"
        placeholder="New Blog Post Title" name="title" required minlength="5" maxlength="140">
      </div>
      <div class="form-group">
        <label for="formBodyInput">Contenido</label>
        <textarea type="text" class="form-control" id="formBodyInput"
        rows="6"
        placeholder="New Blog Content" name="content">
        </textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
    (click)="c()">Cancelar</button>
    <button type="button" class="btn btn-primary">Enviar</button>
  </div>
</ng-template>

<div class="">
  <button (click)="open(modal)" class="btn btn-block btn-primary">Crear nueva entrada</button>
  <router-outlet></router-outlet>
</div>

<br>

<div class="row">
  <div class="col-3 col-sm-12">

    <app-create-post-form></app-create-post-form>
    <hr>

    <p>Entradas</p>
  </div>
  <div class="col-9 col-sm-12">
    <h3>Blog de entradas</h3>
    <p>Blog de entrada 1</p>
    <p>Blog de entrada 2</p>
    <p>Blog de entrada 3</p>
  </div>
</div>
<div class="">
  <router-outlet></router-outlet>
</div>
