<!--<p>
  authors works!
</p>-->

<ngb-accordion activeIds="ngb-panel-0">
  <ngb-panel title="Georgia Byng">
    <ng-template ngbPanelContent>
      <ul class="list-unstyled">
        <li>Molly Moon y el increíble libro del hipnotismo</li>
        <li>Molly Moon detiene el mundo</li>
        <li>Molly Moon viaja a través del tiempo</li>
        <li>Molly Moon y los ladrones de cerebros</li>
        <li>Molly Moon y el misterio mutante</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="J.K. Rowling">
    <ng-template ngbPanelContent>
      <ul class="list-unstyled">
        <li>Harry Potter y la piedra filosofal</li>
        <li>Harry Potter y la cámara secreta</li>
        <li>Harry Potter y el prisionero de Azkaban</li>
        <li>Harry Potter y el cáliz del fuego</li>
        <li>Harry Potter y la orden del fénix</li>
        <li>Harry Potter y el legado maldito</li>
        <li>Harry Potter y las reliquias de la muerte</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Lucía Taboada">
    <ng-template ngbPanelContent>
      <ul class="list-unstyled">
        <li>Dejar de amargarse para imperfectas</li>
        <li>Fuera complejos para imperfectas</li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<br>
